body {

  margin: 0px;

}

.tp {

    color: greenyellow;

    font-family: cursive;

    background-color: blueviolet;

    margin-top: 0px;

    padding-top: 10px;

    padding-left: 10px;

    padding-bottom: 10px;

    padding-right: 10px;

}

.bs {

    color: aqua;

    font-family: cursive;
    
}


.haqida {

    color: aqua;

    font-family: cursive;

}


.yutuqlari {

    color: aqua;

    font-family: cursive;

}


.dk {

    color: aqua;

    font-family: cursive;

}

.kirish {

    color: blue;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 50px;

    text-align: center;

}

.krish {

   color:red;

   font-family: monospace;

   font-size: 28px;

   text-align: center;

   margin-left: 40px;

   margin-right: 30px;

}

.img {

background-image: url(m2.jpg);

background-position: center;

margin-top: 50px;

margin-left: 150px;

margin-right: 150px;

}



