body {

    margin: 0px;
  
  }
  
.tp {
  
    color: greenyellow;
  
    font-family: cursive;
  
    background-color: blueviolet;
  
    margin-top: 0px;
  
    padding-top: 10px;
  
    padding-left: 10px;
  
    padding-bottom: 10px;
  
    padding-right: 10px;
  
  }

.bs {
    
    color: aqua;
    
    font-family: cursive;
    
}


.haqida {
    
    color: aqua;
    
    font-family: cursive;
    
}


.yutuqlari {
    
    color: aqua;
    
    font-family: cursive; 
    
}


.dk {
    
    color: aqua;
    
    font-family: cursive;
    
}
